body {
    background-image: url("test.jpg")
}

h1 {
	position: center;
    font-size: 60px;
    color: #787878;
    font-family: "Courier New", Courier, monospace;
}

.middleleft {
	position: center;
    font-size: 25px;
    color: #787878;
    font-family: "Courier New", Courier, monospace;
}

dt {
	position: center;
    font-size: 45px;
    color: #787878;
    font-family: "Courier New", Courier, monospace;
}

p3 {
	position: center;
    font-size: 45px;
    color: #787878;
    font-family: "Courier New", Courier, monospace;
}

form {
	position: center;
    font-size: 20px;
    color: #787878;
    font-family: "Courier New", Courier, monospace;
}