body { 
    background-image: url('test.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

ul {
    list-style-type: none;
    font-size: 25px;
    font-family: "Courier New", Courier, monospace;
}

p1{
    font-size: 60px;
    color: white;
    font-family: "Courier New", Courier, monospace;
}

hr{
    margin: auto;
    width: 50%;
}

p{
    font-size: 25px;
    text-indent: 5%;
    color: white;
    font-family: "Courier New", Courier, monospace;
}

p2{
    font-size: 10px;
    color: gray;
    font-family:;
}

/<-----List Info Start----->/

nav1 {
    width: 100%
    margin: 1% auto;
    overflow: hidden;
}
nav1 dl {
    list-style: none;
    overflow: none;
}
dt {
    font-size: 50px;
    color: white;
    font-family: "Courier New", Courier, monospace;
}
dd {
    font-size: 30px;
}

/<-----List Info End----->/

/<-----Start of Navigation----->/

nav {
    width: 100%;
    margin: 1% auto;
    overflow: hidden;
}
nav ul {
    list-style: none;
    overflow: none;
}
nav li a {
    background: none;
    border-right: 1px solid #454545;
    color: #fafafa;
    display: block;
    float: left;
    font-size: 120%;
    font-weight: 600;
    padding: 1%;
    text-decoration: none;
    width: 25%;
    transition: background 0.5s ease;
}
nav li a:hover, nav li.active a{
    background: #dadada;
    color: #454545;
}
nav li:last-child a {
    border: none;
}

/<-----End of Navigation----->/

/<-----Medi Quaries Start----->/

@media only screen and (max-width: 780px) {
    nav{
        margin: 2% auto
    }
    nav li a{
        width: 50%;
        font-size: 90%;
        padding-top: 2%;
        padding-bottom: 2%;
        border-bottom: 1px solid #454545;
    }
}

/<-----Medi Quaries End----->/